In [1]:
import pandas as pd
import numpy as np

In [2]:
pdf = pd.read_csv('./train.csv')
pdf_sample = pdf.sample(frac=0.0001)

len = pdf_sample.shape[0]
pdf_sample['cat_1'] = np.random.randint(0,5,[len,])
pdf_sample['cat_2'] = np.random.randint(0,20,[len,])
pdf_sample['cat_3'] = np.random.randint(0,200,[len,])

pdf_sample = pdf_sample.drop(columns = ['StateHoliday','Date','Sales','Customers','DayOfWeek'])
print(len)
pdf_sample.head()

102

/tmp/ipykernel_14398/3678061494.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  pdf = pd.read_csv('./train.csv')

        Store  Open  Promo  SchoolHoliday  cat_1  cat_2  cat_3
104232    538     1      1              0      2      0     48
732436    667     1      1              0      1     16    132
955419    650     1      0              0      0     12    140
279141    826     0      0              0      1      9    102
72175     816     1      0              0      0     16    195

In [3]:
# pdf_sample.to_csv('test_data.csv')
# pdf_sample = pd.read_csv("./test_data.csv")
# pdf_sample.show()

In [4]:
import pyspark.sql.functions as sf
# from pyspark.sql.types import FloatType
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

22/02/28 13:42:20 WARN Utils: Your hostname, machine resolves to a loopback address: 127.0.1.1; using 192.168.31.230 instead (on interface enp0s3)
22/02/28 13:42:20 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/02/28 13:42:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
sdf_data = spark.createDataFrame(pdf_sample)
print(sdf_data.dtypes)
sdf_data.show()

[('Store', 'bigint'), ('Open', 'bigint'), ('Promo', 'bigint'), ('SchoolHoliday', 'bigint'), ('cat_1', 'bigint'), ('cat_2', 'bigint'), ('cat_3', 'bigint')]

+-----+----+-----+-------------+-----+-----+-----+
|Store|Open|Promo|SchoolHoliday|cat_1|cat_2|cat_3|
+-----+----+-----+-------------+-----+-----+-----+
|  538|   1|    1|            0|    2|    0|   48|
|  667|   1|    1|            0|    1|   16|  132|
|  650|   1|    0|            0|    0|   12|  140|
|  826|   0|    0|            0|    1|    9|  102|
|  816|   1|    0|            0|    0|   16|  195|
|  468|   1|    0|            0|    1|   14|  126|
|  714|   1|    0|            0|    2|   16|   89|
|  232|   1|    1|            1|    0|    7|  120|
|  886|   1|    0|            0|    1|   17|   44|
|  809|   1|    0|            0|    1|   15|  133|
|  941|   1|    0|            0|    0|   14|  104|
|  991|   1|    1|            1|    2|    0|   84|
|  558|   1|    1|            0|    0|   17|   48|
|  509|   1|    1|            1|    1|   16|  146|
|  775|   1|    1|            0|    2|    4|   86|
|  659|   1|    1|            0|    2|   17|   99|
|  571|   1|    0|            0|    0|    6|   23|
|  373|   1|    0|            0|    0|    4|  165|
|  219|   1|    0|            1|    0|    6|  137|
|  285|   1|    1|            0|    0|   17|  167|
+-----+----+-----+-------------+-----+-----+-----+
only showing top 20 rows

In [6]:
from feluda import des
sdf_des = des(sdf_data, 15)

Number of rows: 102
Store

Open

Open falls under categorical columns

Promo

Promo falls under categorical columns

SchoolHoliday

SchoolHoliday falls under categorical columns

cat_1

cat_1 falls under categorical columns

cat_2

cat_3

In [7]:
sdf_des

,columns,fraction_nulls,unique_values,unique_value_fracs
0,Store,0.0,100,[100]
1,Open,0.0,2,"[0.088, 0.912]"
2,Promo,0.0,2,"[0.549, 0.451]"
3,SchoolHoliday,0.0,2,"[0.784, 0.216]"
4,cat_1,0.0,5,"[0.265, 0.216, 0.167, 0.186, 0.167]"
5,cat_2,0.0,20,[100]
6,cat_3,0.0,85,[100]